.text {
  width: 250px;
}

body {
  margin: 0;
  padding: 0;
}

.background {
  /* position: absolute; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  animation: animate 16s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url("/StockApp/src/assets/o.jpg");
  }
  10% {
    background-image: url("/StockApp/src/assets/2.jpg");
  }
}
.delicon,
.col-md-2 .view-title {
  justify-content: space-between;
}
.view-icon {
  float: right;
}
.delicon,
.updateicon {
  font-size: large;
}
.edit {
  text-align: center;
  display: inline-block;
  top: 50%;
  left: 50%;
}
.row {
  text-align: center;
}
.register-button,
.clear-button {
  display: inline-block;
}
.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-table {
  max-width: 1300px;
  margin: auto;
}
.example-spacer {
  flex: auto;
}
.home-icon {
  font-size: 27px;
}
.main-header {
  font-size: 25px;
}
.main-header,
.home-icon {
  vertical-align: -webkit-baseline-middle;
  line-height: 5px;
}

.example-icon {
  justify-content: space-around;
}

.toolbar {
  background-color: black;
  color: white;
}
.register {
  background-color: white;
  color: black;
}
.aggre {
  color: white;
}
.edit-tooltip {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
  color: white;
  font-size: 12px;
}

.aggre {
  text-align: start;
}

/* td,
th {
  width: 7%;
} */
